.cabecalhoPrincipal .container {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.cabecalhoPrincipal-nav {
    display: flex;
}

.rodapePrincipal-patrocinadores .container{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.rodapePrincipal-patrocinadores-list {
    display: flex;
    align-items: center;
    width: 70%;
    justify-content: space-around;
    margin-right: 5%;
}

.rodapePrincipal-contatoForm {
    width: 25%;
}

.rodapePrincipal-contatoForm-fieldset {
    display: flex;
}

.rodapePrincipal-navMap-list {
    display: flex;
    /*flex-direction: column;
    flex-wrap: wrap;*/
    flex-flow: column wrap;
    height: 255px;
}

.conteudoPrincipal-cursos {
    display: flex;
    flex-wrap: wrap;
}

.conteudoPrincipal-cursos-link {
    width: 20%;
}

.videoSobre .container {
    display: flex;
}

.videoSobre-video {
    width: 40%;
    margin-right: 10%;
}

.videoSobre-sobre {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    text-align: center;
    width: 50%;
}

.videoSobre-button {
    width: 100%;
}

/* Parte mobile */

@media only screen and (max-width : 420px) {
    .cabecalhoPrincipal .container {
        display: inline-block;
        text-align: center;
        margin: 0% 3%;
    }

    .cabecalhoPrincipal-nav {
        flex-direction: column;
    }

    .conteudoPrincipal-cursos {
        flex-direction: column;
        align-items: center;
    }

    .conteudoPrincipal-cursos-link {
        width: 100%;
    }

    .videoSobre .container {
        flex-direction: column;
    }

    .videoSobre-video {
        width: 100%;
        margin: 0;
    }

    .videoSobre-sobre {
        width: 100%;
        margin-top: 10%;
    }

    .videoSobre-button {
        width: 100%;
        margin-top: 10%;
    }

}

